### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [ ]:
# I whiffed on some of the formatting, but the data is there.  Not sure if I'm using the correct
# methods on all of these, but the cat has been skinned.  This isn't commented out to my liking, either.
# It was a scramble getting this in, my real-world job has been insane lately, we just finished
# setting up our employees with the ability to work from home, and I was in that project group, and we all
# put in some really long hours over the last 10 days.
# Not that I'm expecting a break, mind you, I'll take the grade I've earned.  Just don't want you to think
# I'm some unthinking turd person submitting this super messy code.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load
file_to_load = "Resources/hw_04.csv"

# Read Purchasing File and store into Pandas data frame
# Read Purchasing File and store into Pandas data frame
master_df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#Player Count
# I feel like there's a better way to do this, but this is the method I got to work
players = int(len(master_df["SN"].value_counts()))
player_count_df = pd.DataFrame([{"Player Count":players}])
player_count_df.head()

   Player Count
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#Purchasing Analysis
item_count = len(master_df["Item ID"].value_counts())
price_average = master_df["Price"].mean()
purchase_count =len(master_df.index)
total_sales = master_df["Price"].sum()
summary_df = pd.DataFrame([{"Number of Unique Items":item_count,"Average Price": price_average,"Number of Purchases":purchase_count,"Total Revenue":str(total_sales)}])
summary_df.head()

   Number of Unique Items  Average Price  Number of Purchases Total Revenue
0                     183       3.050987                  780       2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
########Gender Demographics
gender_df = pd.DataFrame({"Gender":master_df["Gender"].value_counts()})
total_gender = gender_df["Gender"].sum()
gender_df["Percent of total"] = gender_df["Gender"] / total_gender
gender_df.head(5)

                       Gender  Percent of total
Male                      652          0.835897
Female                    113          0.144872
Other / Non-Disclosed      15          0.019231


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
#Purchasing Analysis (Gender)
# gender total Price
gb_gender_price_total = master_df.groupby("Gender").Price.sum()
gb_gender_price_total

# average purchase price
gb_gender_price_mean = master_df.groupby("Gender").Price.mean()
gb_gender_price_mean

# purchase count
gb_gender_purchase_count = master_df.groupby("Gender").Price.count()
gb_gender_purchase_count

# runs with wrong output gender_sum_price_df = pd.DataFrame([{"Purchase Sum":gender_group_df["Price"].sum()}])
gender_bd_df = pd.DataFrame({"Total purchase $":gb_gender_price_total,"Average Purchase":gb_gender_price_mean,"Number of Purchases":gb_gender_purchase_count})
gender_bd_df.head()

                       Total purchase $  Average Purchase  Number of Purchases
Gender
Female                           361.94          3.203009                  113
Male                            1967.64          3.017853                  652
Other / Non-Disclosed             50.19          3.346000                   15

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [11]:
########Age Demographics
bins = [0,10,15,20,25,30,35,40,100]
group_names=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
binned_age = pd.cut(master_df["Age"], bins = bins, labels=group_names, include_lowest = True)

#Age group added
master_df["Age Group"]=binned_age

#Age group gb object
gb_age = master_df.groupby("Age Group")
age_count = gb_age.Age.count()
age_percent = age_count/players

#Summary Dataframe
age_bd_df = pd.DataFrame({"Group Count":age_count,"Group Percent":age_percent})
age_bd_df.head()

           Group Count  Group Percent
Age Group
<10                 32       0.055556
10-14               54       0.093750
15-19              200       0.347222
20-24              325       0.564236
25-29               77       0.133681

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
# For purchasing analysis I set bins to quartiles
purchase_data_df = master_df[["SN","Age","Item ID","Item Name","Price"]]
purchase_data_df.head()
bins = [0,20,22,25,45]
group_names=["0 to 20","21 to 22","22 to 25","25 to 45"]
binned_age = pd.cut(purchase_data_df["Age"], bins = bins, labels=group_names, include_lowest = True)
#Age group added
purchase_data_df["Age Group"]=binned_age
#Age group gb object
gb_age = purchase_data_df.groupby("Age Group")
avg_price = gb_age.Price.mean()
avg_price
total_spend_age = gb_age.Price.sum()
total_spend_age
age_demo_df = pd.DataFrame({"Average spend":avg_price,"Total Spend":total_spend_age})
age_demo_df.head()

C:\Users\mille\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

           Average spend  Total Spend
Age Group
0 to 20         3.101818       887.12
21 to 22        2.936288       387.59
22 to 25        3.077979       594.05
25 to 45        3.023728       511.01

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [15]:
########Top Spenders'
spender_gb = master_df.groupby("SN")
pur_count = spender_gb.SN.count()
avg_spndr_price = spender_gb.Price.mean()
spndr_total = spender_gb.Price.sum()
spender_summary_df = pd.DataFrame({"Purchase Count":pur_count,"Average Purchase Price":avg_spndr_price,"Total Purchase Value":spndr_total})
spender_sort = spender_summary_df.sort_values("Total Purchase Value",ascending = False)
spender_sort.head(10)

              Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                  5                3.792000                 18.96
Idastidru52                4                3.862500                 15.45
Chamjask73                 3                4.610000                 13.83
Iral74                     4                3.405000                 13.62
Iskadarya95                3                4.366667                 13.10
Ilarin91                   3                4.233333                 12.70
Ialallo29                  3                3.946667                 11.84
Tyidaim51                  3                3.943333                 11.83
Lassilsala30               3                3.836667                 11.51
Chadolyla44                3                3.820000                 11.46

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [16]:
item_bd_df = master_df[["Item ID","Item Name","Price"]]
item_gb = item_bd_df.groupby(["Item ID","Item Name"])
item_purchase_count = item_gb.Price.count()

total_purchase_value = item_gb.Price.sum()
item_price = master_df["Price"]

item_bd_smry_df = pd.DataFrame({"Number purchased":item_purchase_count,"Total Revenue":total_purchase_value})
sorted_items_df = item_bd_smry_df.sort_values("Number purchased",ascending=False)
sorted_items_df.head(10)

,,Number purchased,Total Revenue
Item ID,Item Name,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76
145,Fiery Glass Crusader,9,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,31.77
82,Nirvana,9,44.10
19,"Pursuit, Cudgel of Necromancy",8,8.16
103,Singed Scalpel,8,34.80
75,Brutality Ivory Warmace,8,19.36
72,Winter's Bite,8,30.16
60,Wolf,8,28.32
59,"Lightning, Etcher of the King",8,33.84

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [17]:
sorted_df = item_bd_smry_df.sort_values(by="Total Revenue",ascending=False,axis = 0)
sorted_df.head()

,,Number purchased,Total Revenue
Item ID,Item Name,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76
82,Nirvana,9,44.10
145,Fiery Glass Crusader,9,41.22
92,Final Critic,8,39.04
103,Singed Scalpel,8,34.80